@inject RoutingService RoutingService
@inject IJSRuntime JSRuntime

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BoardWatcherClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@($"chess/CV/{gameId}")" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Chess OpenCV
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@($"chess/AI/{gameId}")">
                <span class="oi oi-target" aria-hidden="true"></span> Chess AI
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string gameId = "0";
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        gameId = RoutingService.getGameId();
        _ = listenForGameId();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task listenForGameId()
    {
        while (RoutingService.getGameId() == "0")
        {
            await Task.Delay(50);
            gameId = RoutingService.getGameId();
            await Task.Delay(2000);
        }
    }
}
